.About{
  .container{
    
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    align-content: center;
    margin: auto;
    width: 90%;
    
    align-items: flex-start;
    h1 {
      text-align: center;
      margin: 8px;
    }
    img {
      height: auto;
      width: 30%;
      border-radius: 5px;
      margin-top: 3%;
      align-self: flex-start;
      justify-self: center;
    } 
    p {
      margin: 10px auto;
    }
    .content {
      width: 60%;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      flex-direction: column;
      background-color: whitesmoke;
      #lfw{
        color: red;
        text-align: center;
      }
    }
      @media only screen and (max-width: 768px) {
        &{
            display: flex;
            flex-direction: column-reverse;
            align-items: flex-start;
            justify-content: center;
            .content{
                width: 90%;
                margin: auto;
            }
            img{
                width: 40%;
                justify-self: center;
                align-self: center;
            }
        }
    }
  }
}